<div class="section-container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Daily Orders</h5>
                </div>
                <div class="card-body">
                    <app-bar-chart></app-bar-chart>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Orders by Customer</h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card shadow card-theme">
                <div class="card-header card-header-theme">
                    <h5>Orders by State</h5>
                </div>
                <div class="card-body">
                    <app-pie-chart></app-pie-chart>
                </div>
            </div>
        </div>
    </div>
</div>
